/* Added by P.Mason, IDS */
body {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 980px;
	margin: 0 auto;
}

textarea {
	width: 100%;
	height: 400px;
	display: block;
	margin: 10px 0px;
}

#dynamic-demo-hub-widget {
	width: 24% !important;
	right: 1%;
	float: right;
}

#open-knowledge-hub-widget {
	background-color: #eee;
	width:100% !important;
}

#main_container {
	width: 70%;
	float: none;
}

.step {
	display:none;
}

#step1 {
	display:block;
}

.steptext {
	font-weight:bold;
}

.form-item {
	margin-bottom:6px;
}

.form-item input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;	
}

.form-submit input {
	width:auto;
	background-color:#eee;
	cursor:pointer;
}

a {
  color: blue;
  text-decoration: none;
 
}

.note {
	font-size:0.8em;
}